{% extends 'base.html' %}
{% load static %}

{% block title %}
My Blog
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}




{% block content %}  
<section id="welcome">
    <header>
        <img src="{% static 'blog/images/radek.png' %}" alt="Radek - Owner of this blog">
        <h2>Blog Radka</h2>
    </header>
    <p>Losowy Tekst to wyświetlenia</p>
</section>

<section id="latest-posts">
    <h2>My latest thoughts</h2>

    <ul>
    {% for post in posts %}
        {% include "blog/includes/post.html" %}
    {% endfor %}
    </ul>

</section>

<section id="about">
    <h2>Bio</h2>
    <p>Info about Bio</p>
    <p>Further Bio info</p>
</section>
{% endblock  %}