{% extends 'base.html' %}
{% load static %}


{% block title %}
This Post Title
{% endblock  %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock  %}


{% block content %}
<section id="summary">
    <h2>{{posts.title}}</h2>
    <article>
        <img src="{% static "blog/images/"|add:posts.img %}" alt="Post Title">
        <address>By {{posts.author|title}}</address>
        <div>
            Last updated on <time> {{posts.date|date:"d M Y"}} </time>
        </div>
    </article>

</section>

<main>
{{posts.content|linebreaks}}
</main>


{% endblock  %}